.lightheader {
    background: #7B7D7D;
}

.darkheader {
    background: #273746;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #99A3A4 ;
    text-decoration: none;
}

/*nav a :hover{
    font-size: larger;
}*/

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 20px;
}